<hr>
<div class="col-8 col-md-8">
    <div class="row form-group">
        <p style="padding-top: 20px">
            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Embedded items do not
                    open the item viewer (popup window) and are interactive on the exhibit template</em></small>
            <label for="embed-item">Embed item&nbsp;
                <input type="checkbox" id="embed-item" name="embed_item">
            </label>
        </p>
    </div>
</div>
