<option value="Arial">Arial</option>
<option value="Brush Script MT">Brush Script MT</option>
<option value="Courier New">Courier New</option>
<option value="Garamond">Garamond</option>
<option value="Georgia">Georgia</option>
<option value="Tahoma">Tahoma</option>
<option value="Times New Roman">Times New Roman</option>
<option value="Trebuchet MS">Trebuchet MS</option>
<option value="Neue Haas Grotesk Text Pro">Neue Haas Grotesk Text Pro</option>
<option value="Neue Haas Unica W1G">Neue Haas Unica W1G</option>
<option value="Nocturne Serif">Nocturne Serif</option>
<option value="Verdana">Verdana</option>
