<span id="image-alt-text" style="display: none;">
<hr>
<div class="col-12 col-md-12">
    <div class="row form-group">
        <p style="padding-top: 20px">
            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Decorative alt text are those that do not add any important information or context to the page content and are used primarily for visual appeal</em></small>
            <label for="is-alt-text-decorative">Image alt text is decorative&nbsp;
                <input type="checkbox" id="is-alt-text-decorative" name="is_alt_text_decorative">
            </label>
        </p>
        <div id="is-decorative-toggle" style="padding-bottom: 20px;">
            <div class="form-text text-muted" style="font-size: 17px">
                Image alt text <small><em>(<span
                                style="color: darkred">*</span> Required if not decorative)</em></small>
                <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Alternative text (Alt
                        Text)
                        is a short description added to images on a webpage to enhance accessibility and optimize for
                        search
                        engines</em></small>
            </div>
            <span id="item-alt-text-error" class="is-error"></span>
            <textarea id="item-alt-text-input" class="form-control" name="item_alt_text_input"
                      rows="4"></textarea>
        </div>
    </div>
</div>
</span>