<div id="item-heading-card" class="card">
    <div class="card-header">
        <strong class="card-title mb-3"><span id="exhibit-title"></span> - Heading</strong>
        <div class="btn-group float-right">
            <span id="created" style="text-align: right; font-size: x-small"></span>
        </div>
    </div>
    <form id="item-heading-form" class="form-horizontal">
        <div class="card-body">
            <input id="exhibit-uuid" type="hidden" name="exhibit_uuid">
            <!--
            <div class="alert alert-info"><i class="fa fa-info"></i> Provide info to user about this form</div>
            -->
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="form-text text-muted" style="font-size: 17px"><span style="color: darkred">*</span>
                                Heading Text <small><em>(Required)</em></small>
                                &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-heading-text-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                            </div>
                            <span id="item-heading-text-error" class="is-error"></span>
                            <textarea id="item-heading-text-input" class="form-control" name="item_heading_text_input"
                                      rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>