<div class="row mt-3" id="is-media-only-caption" style="display: none">
    <div class="col-12 col-md-12">
        <hr>
        <div class="row form-group">
            <div class="col-12">
                <div class="form-text text-muted" style="font-size: 17px"><span id="item-caption-input-label">Caption</span>
                </div>
                <textarea id="item-caption-input" aria-labelledby="item-caption-input-label" class="form-control" name="item_caption_input" rows="4"></textarea>
            </div>
        </div>
    </div>
</div>
