<header>
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: white">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://library.du.edu/collections-library-materials/exhibits" target="_blank">
                <img src="/exhibits-dashboard/static/images/du-logo.png" alt="University of Denver University Libraries">&nbsp;&nbsp;Exhibits
            </a>
        </div>
    </nav>
</header>