<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/exhibits-dashboard/exhibits"><i class="menu-icon fa fa-home"></i>Exhibits Home </a>
                </li>
                <li class="menu-title">Menu</li>
                <li>
                    <a href="/exhibits-dashboard/exhibits" data-keyboard="false">
                        <i class=" menu-icon fa fa-arrow-left"></i>Back to Exhibits</a>
                </li>
                <li>
                    <a href="/exhibits-dashboard/trash"> <i class="menu-icon fa fa-trash-o"></i>Trash</a>
                </li>
                <li>
                    <a href="#" id="logout"> <i class="menu-icon fa fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>