<!-- preview-html -->
<style>
    .modal-lg {
        width: 95%;
        max-width:1300px;
    }
</style>
<div class="modal preview-html" tabindex="-1" role="dialog" aria-labelledby="preview-html" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background-color: #f2f2f2;">
            <div id="preview-html" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>