<span class="upload-error"></span>
<div class="col-12 col-md-12">
    <p><span id="hero-image-filename-display"></span>&nbsp;&nbsp;<span><a id="hero-trash" title="Trash" href="#"><i
                        class="fa fa-trash"></i></a></span></p>
    <input type="hidden" id="hero-image" name="hero_image">
</div>
<form class="form-horizontal dropzone" id="hero-dropzone" action="/uploads"
      method="post"
      enctype="multipart/form-data">
</form>
<br>
<hr>
<div class="col-12 col-md-12">
    <p><span id="thumbnail-filename-display"></span>&nbsp;&nbsp;<span><a id="thumbnail-trash" title="Trash" href="#"><i
                        class="fa fa-trash"></i></a></span></p>
    <input type="hidden" id="thumbnail-image" name="thumbnail_image">
</div>
<form class="form-horizontal dropzone" id="thumbnail-dropzone" action="/uploads"
      method="post"
      enctype="multipart/form-data">
</form>
<br>
<script>
    document.querySelector('#hero-trash').style.display = 'none';
    document.querySelector('#thumbnail-trash').style.display = 'none';
</script>