<p>
    <span class="form-text text-muted" style="font-size: 17px">Apply Custom Styles to Navigation Menu</span>
</p>
<div class="input-group">
    <div class="input-group-btn">
        <input title="Color Picker" class="color-picker btn btn-default" type="color"
               id="nav-menu-background-color-picker" value="#ffffff">
    </div>
    <input type="text" id="nav-menu-background-color" name="nav_menu_background_color"
           placeholder="Navigation Menu Background Color" class="form-control">

</div>
<div class="input-group">
    <div class="input-group-btn">
        <input title="Color Picker" class="color-picker btn btn-default" type="color" id="nav-menu-font-color-picker"
               value="#ffffff">
    </div>
    <input type="text" id="nav-menu-font-color" name="nav_menu_font_color"
           placeholder="Navigation Menu Font Color" class="form-control">

</div>
<div class="input-group">
    <select name="nav_menu_font_family" id="nav-menu-font-family"
            class="form-control-lg form-control text-muted">
        <option value="0">Navigation Menu Font Family</option>
        <option value="1">vertical_scroll</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
    </select>
</div>
<div class="input-group">
    <select name="nav_menu_font_size" id="nav-menu-font-size"
            class="form-control-lg form-control text-muted">
        <option value="0">Navigation Menu Font Size</option>
        <option value="1">8px</option>
        <option value="2">10px</option>
        <option value="3">12px</option>
        <option value="3">14px</option>
    </select>
</div>
<div class="input-group">
    <select name="nav_menu_text_align" id="nav-menu-text-align"
            class="form-control-lg form-control text-muted">
        <option value="0">Navigation Menu Text Align</option>
        <option value="1">Center</option>
        <option value="2">Right</option>
        <option value="3">Left</option>
    </select>
</div>
<br>
<p>
    <span class="form-text text-muted" style="font-size: 17px">Apply Custom Styles to Navigation Menu Links</span>
</p>
<div class="input-group">
    <div class="input-group-btn">
        <input title="Color Picker" class="color-picker btn btn-default" type="color"
               id="nav-menu-links-background-color-picker" value="#ffffff">
    </div>
    <input type="text" id="nav-menu-links-background-color" name="nav_menu_links_background_color"
           placeholder="Navigation Menu Background Color" class="form-control">

</div>
<div class="input-group">
    <div class="input-group-btn">
        <input title="Color Picker" class="color-picker btn btn-default" type="color"
               id="nav-menu-links-font-color-picker" value="#ffffff">
    </div>
    <input type="text" id="nav-menu-links-font-color" name="nav_menu_links_font_color"
           placeholder="Navigation Menu Links Font Color" class="form-control">

</div>
<!--
<div class="input-group">
    <select name="nav_menu_links_font_family" id="nav-menu-links-font-family"
            class="form-control-lg form-control text-muted">
        <option value="0">Navigation Menu Links Font Family</option>
        <option value="1">vertical_scroll</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
    </select>
</div>
<div class="input-group">
    <select name="nav_menu_links_font_size" id="nav-menu-links-font-size"
            class="form-control-lg form-control text-muted">
        <option value="0">Navigation Menu Links Font Size</option>
        <option value="1">8px</option>
        <option value="2">10px</option>
        <option value="3">12px</option>
        <option value="3">14px</option>
    </select>
</div>
<div class="input-group">
    <select name="nav_menu_links_text_align" id="nav-menu-links-text-align"
            class="form-control-lg form-control text-muted">
        <option value="0">Navigation Menu Links Text Align</option>
        <option value="1">Center</option>
        <option value="2">Right</option>
        <option value="3">Left</option>
    </select>
</div>
-->
<br>
<script>
    document.querySelector('#nav-menu-background-color-picker').addEventListener('input', () => {
        if (document.querySelector('#nav-menu-background-color')) {
            document.querySelector('#nav-menu-background-color').value = document.querySelector('#nav-menu-background-color-picker').value;
        }
    });

    document.querySelector('#nav-menu-font-color-picker').addEventListener('input', () => {
        if (document.querySelector('#nav-menu-font-color')) {
            document.querySelector('#nav-menu-font-color').value = document.querySelector('#nav-menu-font-color-picker').value;
        }
    });

    document.querySelector('#nav-menu-links-background-color-picker').addEventListener('input', () => {
        if (document.querySelector('#nav-menu-links-background-color')) {
            document.querySelector('#nav-menu-links-background-color').value = document.querySelector('#nav-menu-links-background-color-picker').value;
        }
    });

    document.querySelector('#nav-menu-links-font-color-picker').addEventListener('input', () => {
        if (document.querySelector('#nav-menu-links-font-color')) {
            document.querySelector('#nav-menu-links-font-color').value = document.querySelector('#nav-menu-links-font-color-picker').value;
        }
    });
</script>