<div class="row form-group">
    <div class="col-12 col-md-12">
        <span class="form-text text-muted" style="font-size: 17px">Banner</span>
        <table class="table table-striped"><!-- style="width: 100%;border: solid 1px grey;" -->
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/banner_1.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="exhibit-banner-1">Hero image above description, title text over image</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" class="btn-check" name="banner_template" id="exhibit-banner-1" value="banner_1" autocomplete="off" checked />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/banner_2.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="exhibit-banner-2">Hero image above title and description</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" class="btn-check" name="banner_template" id="exhibit-banner-2" value="banner_2" autocomplete="off" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px";>
                    <img src="../images/banner_3.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="exhibit-banner-3">Hero image above description, no title</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" class="btn-check" name="banner_template" id="exhibit-banner-3" value="banner_3" autocomplete="off" />
                </td>
            </tr>
        </table>
    </div>
</div>