<div class="row form-group">
    <div class="col-12 col-md-12">
        <span class="form-text text-muted" style="font-size: 17px">Page Layout</span>
        <table style="width: 100%;border: solid 1px grey;">
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/page_layout_1.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="exhibit-banner-1">Exhibit navigation bar at the top of the page</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" class="btn-check" name="page_layout" id="exhibit-page-layout-1" value="top_nav" autocomplete="off" checked />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/page_layout_2.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="exhibit-banner-2">Exhibit navigation sidebar</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" class="btn-check" name="page_layout" id="exhibit-page-layout-2" value="side_nav" autocomplete="off" />
                </td>
            </tr>
        </table>
    </div>
</div>