<div class="row form-group">
    <div class="col-12 col-md-12">
        <span class="form-text text-muted" style="font-size: 17px">Template</span>
        <table style="width: 100%;border: solid 1px grey;">
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/template_vertical_scroll.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="exhibit-template">Items rendered from top of page to bottom</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" class="btn-check" name="template" id="exhibit-template" value="vertical_scroll" autocomplete="off" checked />
                </td>
            </tr>
        </table>
    </div>
</div>