<div class="col-12 col-md-12">
    <p>
    <form class="row form-group">
        <div class="col-7 col-md-7"><!-- col-auto -->
            <input type="text" class="form-control" id="repo-uuid" name="repo_uuid" placeholder="Repository record UUID">
        </div>
        <div class="col-auto">
            <button type="button" id="repo-uuid-btn" class="btn btn-secondary mb-3">Get item metadata</button>
        </div>
    </form>
    <div id="repo-item-metadata"></div>
    </p>
    <!--
    <p>
    <div class="row form-group">
        <input type="text" id="repo-uuid" name="repo_uuid"
               placeholder="Repository record UUID" class="form-control">
        <button id="repo-uuid-btn" type="button">Get item data</button>
    </div>
    <div id="repo-item-metadata"></div>
    </p>
    -->
</div>