<div class="col-3 col-md-3">
    <div class="row form-group">
        <p>
        <label for="media-padding">Remove Media Padding</label>
        <input type="checkbox" id="media-padding" name="media-padding" class="form-control">
        </p>
    </div>
</div>