<div class="col-12 col-md-12">
    <p>
    <div class="row form-group">
        <input type="text" id="audio-video" name="audio_video"
               placeholder="Kaltura ID" class="form-control">
    </div>
    </p>
</div>