<div class="col-12 col-md-12">
    <p>
    <form class="row form-group">
        <div class="col-7 col-md-7">
            <input type="text" class="form-control" id="audio-video" name="audio_video" placeholder="Kaltura ID">
            <input type="hidden" id="is-kaltura-item" name="is_kaltura_item" value="0">
        </div>
        <div class="col-auto">
            <button type="button" id="kaltura-btn" class="btn btn-secondary mb-3">Get item data</button>
        </div>
    </form>
    <img id="kaltura-thumbnail" src="" alt="test" width="150" height="150" style="visibility: hidden;border: solid"><br><br>
    <div id="kaltura-item-data"></div>
    <input type="hidden" name="item_type" id="kaltura-item-type">
</div>