<p>
<div class="alert alert-warning">* Accepts only Images and PDFs</div>
</p>
<div class="row">
    <span class="upload-error"></span>
    <div class="col-6 col-md-6">
        <div class="col-12">
            <form class="form-horizontal dropzone" id="item-dropzone" action="/exhibits-dashboard/uploads"
                  method="post"
                  enctype="multipart/form-data">
            </form>
            <p>
                <br>
                <span id="item-media-thumbnail-image-display"></span>
                <span id="item-media-filename-display"></span>&nbsp;&nbsp;
                <span id="item-thumbnail-image-prev"></span>
                <span>
                                        <a id="item-media-trash" title="Trash" href="#"><i class="fa fa-trash"></i></a>
                                    </span>
            </p>
            <input type="hidden" id="item-media" name="item_media">
            <input type="hidden" id="item-type" name="item_type">
            <input type="hidden" id="item-mime-type" name="item-mime_type">
            <input type="hidden" id="item-media-prev" name="item-media-prev">
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="col-12">
            <form class="form-horizontal dropzone" id="item-thumbnail-dropzone" action="/exhibits-dashboard/uploads"
                  method="post"
                  enctype="multipart/form-data">
            </form>
            <p>
                <br>
                <span id="item-thumbnail-image-display"></span>
                <span id="item-thumbnail-filename-display"></span>&nbsp;&nbsp;
                <span>
                                        <a id="item-thumbnail-trash" title="Trash" href="#"><i class="fa fa-trash"></i></a>
                                    </span>
            </p>
            <input type="hidden" id="item-thumbnail" name="item_thumbnail">
        </div>
    </div>
</div>
<div id="toggle-open-to-page" style="visibility: hidden">
    <p>
    <div class="col-sm-4 my-1">
        <label class="sr-only" for="pdf-open-to-page">Open PDF to page</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Open PDF to page</div>
            </div>
            <input type="number" class="form-control" id="pdf-open-to-page" min="1" value="1">
        </div>
    </div>
    <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>The viewer will automatically open
            to the page entered</em></small>
    </p>
</div>