<div class="col-12 col-md-12">
    <p>
    <div class="row form-group">
        <input type="text" id="repo-uuid" name="repo_uuid"
               placeholder="Repository record UUID" class="form-control">
    </div>
    </p>
</div>