<div class="col-3 col-md-3">
    <div class="row form-group">
        <p style="padding-top: 20px">
            <label for="media-padding">Text Only&nbsp;
                <input type="checkbox" id="text-only" name="text-only">
            </label>
        </p>
    </div>
</div>