<div class="col-12 col-md-12">
    <p>
    <form class="row form-group">
        <div class="col-7 col-md-7">
            <input type="text" class="form-control" id="repo-uuid" name="repo_uuid" placeholder="Repository record UUID">
            <input type="hidden" id="is-repo-item" name="is_repo_item" value="0">
        </div>
        <div class="col-auto">
            <button type="button" id="repo-uuid-btn" class="btn btn-secondary mb-3">Get item metadata</button>
        </div>
    </form>
    <div id="repo-item-metadata"></div>
    <p id="tn"><!--<img id="tn" src="" alt="thumbnail" height="200" width="200">--></p>
</div>
