<!-- Media Subjects Card (rendered by media picker selection, hidden by default) -->
<div id="media-subjects-card" class="card" style="display: none;">
    <div class="card-header">
        <strong class="card-title mb-3"><i class="fa fa-tags"></i>&nbsp;Media Subjects</strong>
        <div class="btn-group float-right">
            <span style="text-align: right; font-size: x-small"><em><i class="fa fa-info-circle"></i>&nbsp;Inherited from selected media asset</em></span>
        </div>
    </div>
    <div class="card-body">
        <!-- Topic Subjects -->
        <div id="media-subjects-topics-group" class="media-subject-group" style="display: none;">
            <label class="media-subject-label">
                <i class="fa fa-bookmark-o"></i>&nbsp;Topics
            </label>
            <div id="media-subjects-topics" class="media-subject-badges"></div>
        </div>
        <!-- Genre / Form Subjects -->
        <div id="media-subjects-genre-group" class="media-subject-group" style="display: none;">
            <label class="media-subject-label">
                <i class="fa fa-list-alt"></i>&nbsp;Genre / Form
            </label>
            <div id="media-subjects-genre" class="media-subject-badges"></div>
        </div>
        <!-- Place Subjects -->
        <div id="media-subjects-places-group" class="media-subject-group" style="display: none;">
            <label class="media-subject-label">
                <i class="fa fa-map-marker"></i>&nbsp;Places
            </label>
            <div id="media-subjects-places" class="media-subject-badges"></div>
        </div>
        <!-- Empty state guard -->
        <div id="media-subjects-empty" class="text-muted" style="display: none; font-size: 12px;">
            <em>No subjects associated with this media asset.</em>
        </div>
    </div>
</div>
