<div id="exhibit-data-card" class="card">
    <div class="card-header">
        <strong class="card-title mb-3">Exhibit Data</strong>
        <div class="btn-group float-right">
            <span id="created" style="text-align: right; font-size: x-small"></span>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-text text-muted" style="font-size: 17px"><span
                                    style="color: darkred">*</span>
                            Title <small><em>(Required)</em></small>
                            &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-title-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                        </div>
                        <span id="exhibit-title-error" class="is-error"></span>
                        <textarea id="exhibit-title-input" class="form-control" name="exhibit_title_input"
                                  rows="4"></textarea>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
            <!--<div class="col-6 col-md-6">-->
                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-text text-muted" style="font-size: 17px">Sub Title <small><em>(Optional)</em></small>
                            &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-sub-title-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                        </div>
                        <textarea id="exhibit-sub-title-input" class="form-control" name="exhibit_sub_title_input"
                                  rows="4"></textarea>

                    </div>
                </div>
            </div>
            <!--
            <div class="col-6 col-md-6">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-text text-muted" style="font-size: 17px">Harmful Content Disclaimer <small><em>(Optional)</em></small>
                            &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-alert-text-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                        </div>

                        <textarea id="exhibit-alert-text-input" class="form-control" name="exhibit_alert_text_input"
                                  rows="4"></textarea>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-text text-muted" style="font-size: 17px">Introduction <small><em>(Optional)</em></small>
                            &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-description-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                        </div>
                        <textarea id="exhibit-description-input" class="form-control" name="exhibit_description_input"
                                  rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-text text-muted" style="font-size: 17px">About the curators <small><em>(Optional)</em></small>
                            &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-about-the-curators-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                        </div>
                        <textarea id="exhibit-about-the-curators-input" class="form-control" name="exhibit_about_the_curators_input"
                                  rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-text text-muted" style="font-size: 17px">Harmful Content Disclaimer <small><em>(Optional)</em></small>

                            &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-alert-text-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>

                        </div>

                        <textarea id="exhibit-alert-text-input" class="form-control" name="exhibit_alert_text_input"
                                  rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-6 col-md-6">
                <div class="row form-group">
                    <div class="col-12">
                        <p style="padding-top: 20px">
                            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Click to add content disclaimer</em></small>
                            <label for="is-content-advisory">Harmful Content Disclaimer&nbsp;
                                <input type="checkbox" id="is-content-advisory" name="is_content_advisory">
                            </label>
                            <small id="exhibit-content-advisory" class="form-text text-muted">
                                "Content Advisory: This exhibit may include materials containing racist, colonialist, or otherwise harmful content. Some items may be upsetting or traumatizing. Please engage with care."
                            </small>
                            <input type="hidden"
                                   id="exhibit-alert-text-input"
                                   name="exhibit_alert_text_input"
                                   value="Content Advisory: This exhibit may include materials containing racist, colonialist, or otherwise harmful content. Some items may be upsetting or traumatizing. Please engage with care.">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row form-group">
                    <div class="col-12">
                        <p style="padding-top: 20px">
                            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Exhibit will be featured on the main page</em></small>
                            <label for="is-featured">Feature exhibit&nbsp;
                                <input type="checkbox" id="is-featured" name="is_featured">
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row form-group">
                    <div class="col-12">
                        <p style="padding-top: 20px">
                            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Student curated exhibit</em></small>
                            <label for="is-student-curated">Student Curated&nbsp;
                                <input type="checkbox" id="is-student-curated" name="is_student-curated">
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>