<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="sidebar-toggle-item">
                    <a href="#" id="sidebar-toggle" title="Toggle sidebar">
                        <i class="menu-icon fa fa-bars"></i>
                    </a>
                </li>
                <li class="menu-title">Menu</li>
                <li>
                    <a id="back-to-exhibits" title="Back to Exhibits" href="/exhibits-dashboard/exhibits/exhibit/details" data-keyboard="false">
                        <i class=" menu-icon fa fa-arrow-left"></i>Back to Exhibit Details</a>
                </li>
                <li>
                    <a id="edit-exhibit" title="Edit Exhibit" href="#" data-keyboard="false">
                        <i class="menu-icon fa fa-pencil pr-1"></i>Edit Exhibit</a>
                </li>
                <!--
                <li>
                    <a href="#"> <i class="menu-icon bi bi-border-style"></i>Exhibit Styles</a>
                </li>
                -->
                <li id="item-list-nav">
                    <a id="item-list" title="View Items" href="#" data-keyboard="false">
                        <i class=" menu-icon fa fa-list pr-1"></i>Exhibit Items</a>
                </li>
                <li>
                    <a title="Logout" href="#" id="logout"> <i class="menu-icon fa fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
