<div id="user-card" class="card">
    <div class="card-header">
        <strong class="card-title mb-3">User Profile</strong>
    </div>
    <form id="user-form" class="form-horizontal">
        <div class="card-body">
            <input id="user_id" type="hidden" name="user_id">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="form-text text-muted" style="font-size: 17px"><span style="color: darkred">*</span>
                                First Name <small><em>(Required)</em></small>
                            </div>
                            <div id="first-name-input-error" class="is-error"></div>
                            <input id="first-name-input" class="form-control" name="first_name_input" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="form-text text-muted" style="font-size: 17px"><span style="color: darkred">*</span>
                                Last Name <small><em>(Required)</em></small>
                            </div>
                            <div id="last-name-input-error" class="is-error"></div>
                            <input id="last-name-input" class="form-control" name="last_name_input" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="form-text text-muted" style="font-size: 17px"><span style="color: darkred">*</span>
                                Email <small><em>(Required)</em></small>
                            </div>
                            <div id="email-input-error" class="is-error"></div>
                            <input id="email-input" class="form-control" name="email_input" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="form-text text-muted" style="font-size: 17px"><span style="color: darkred">*</span>
                                DU ID <small><em>(Required)</em></small>
                            </div>
                            <div id="du-id-input-error" class="is-error"></div>
                            <input id="du-id-input" class="form-control" name="du_id_input" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="form-text text-muted" style="font-size: 17px"><span style="color: darkred">*</span>
                                Role <small><em>(Required)</em></small>
                            </div>
                            <div id="role-error" class="is-error"></div>

                            <div class="input-group">
                                <select name="user_roles" id="user-roles"
                                        class="form-control-lg form-control text-muted" style="height: 40px">
                                    <option value="">Select From Menu</option>
                                    <option value="">----------</option>
                                    <!--<%- // include('exhibit-fonts-options-list.ejs'); %>-->
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>