<%- include('partials/header.ejs'); %>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul id="items-menu" class="nav navbar-nav"></ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <%- include('partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <div id="item-card" class="card" style="visibility: visible">
            <div class="card-header">
                <strong class="card-title mb-3"><span id="exhibit-title"></span> vertical timeline</strong>
            </div>
            <div class="card-body">
                // TODO: vertical timeline item form
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('partials/footer.ejs'); %>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="/exhibits-dashboard/static//libs/axios-2.x/dist/axios.min.js"></script>
<script src="/exhibits-dashboard/static//libs/dompurify/purify.min.js"></script>
<script src="/exhibits-dashboard/static//app/http.module.js"></script>
<script src="/exhibits-dashboard/static//app/helper.module.js"></script>
<script src="/exhibits-dashboard/static//app/endpoints.module.js"></script>
<script src="/exhibits-dashboard/static//app/auth.module.js"></script>
<script src="/exhibits-dashboard/static//app/uploads.module.js"></script>
<script src="/exhibits-dashboard/static//app/exhibits.module.js"></script>
<script src="/exhibits-dashboard/static//app/items.module.js"></script>
<script>
    itemsModule.set_item_nav_menu_links();
    uploadsModule.upload_item_media();
    uploadsModule.upload_item_thumbnail();
</script>
</body>
</html>
