<%- include('partials/header.ejs'); %>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/exhibits-dashboard/exhibits">
                        <i class="menu-icon fa fa-home"></i>Exhibits Home
                    </a>
                </li>
                <li class="menu-title">Menu</li>
            </ul>
            <ul class="nav navbar-nav"><li id="preview-link"></li></ul>
            <ul id="items-menu" class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="logout" data-keyboard="false">
                        <i class="menu-icon fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img src="/exhibits-dashboard/static/images/du-logo.png" alt="Logo"></a>
            </div>
        </div>
        <div class="top-right"></div>
    </header>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <div id="item-heading-card" class="card" style="visibility: visible">
            <div class="card-header">
                <strong class="card-title mb-3"><span id="exhibit-title"></span> | <span class="item-title"></span></strong>
            </div>
            <div id="item-details" class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow-sm">
                            <div id="item-media">Loading...</div>
                            <div class="card-body">
                                <p id="item-caption" class="card-text"></p>
                                <small class="text-body-secondary" id="item-type"></small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary" id="item-layout"></small>
                            <small class="text-body-secondary" id="item-styles"></small>
                            <small class="text-body-secondary" id="item-media-width"></small>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card-text">
                            <div class="item-title"></div>
                            <div id="item-description" title="Item description"></div>
                            <div id="item-date" title="Item date"></div>
                            <div id="item-order" title="Item order"></div>
                            <div id="item-status" title="Item status"></div>
                            <hr>
                            <p class="text-body-secondary" id="item-created" title="item created"></p>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary" id="item-id" title="Item ID"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted"><small>Item Details</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('partials/footer.ejs'); %>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="/exhibits-dashboard/static/libs/axios-2.x/dist/axios.min.js"></script>
<script src="/exhibits-dashboard/static/libs/dompurify/purify.min.js"></script>
<script src="/exhibits-dashboard/static/app/http.module.js"></script>
<script src="/exhibits-dashboard/static/app/helper.module.js"></script>
<script src="/exhibits-dashboard/static/app/endpoints.module.js"></script>
<script src="/exhibits-dashboard/static/app/auth.module.js"></script>
<script src="/exhibits-dashboard/static/app/uploads.module.js"></script>
<script src="/exhibits-dashboard/static/app/exhibits.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.form.module.js"></script>
<script>
    exhibitsModule.set_preview_link();
    itemsFormModule.set_items_form_nav_menu_links();
    // itemsFormModule.set_headings_form_nav_menu_links();
    itemsModule.get_item_details();
</script>
</body>
</html>