<div class="row form-group">
    <div class="col-12 col-md-12">
        <input type="text" id="item-title" name="title"
               placeholder="Item Title" class="form-control" required>
        <span id="item-title-error" class="is-error">
            <small class="form-text text-muted">* Required</small>
        </span>

    </div>
</div>
<div class="row form-group">
    <div class="col-12 col-md-12">
        <textarea id="item-caption" class="form-control" name="caption" placeholder="Item Caption"></textarea>
    </div>
</div>
<div class="row form-group">
    <div class="col-12 col-md-12">
        <textarea id="item-description" class="form-control" name="description"
                  placeholder="Item Description"></textarea>
    </div>
</div>
<div class="row form-group">
    <div class="col-12 col-md-12">
        <textarea id="item-text" class="form-control" name="text"
                  placeholder="Item Text"></textarea>
    </div>
</div>
<div class="row form-group">
    <div class="col-12 col-md-12">
        <input type="text" id="item-date" name="date"
               placeholder="Item Date" class="form-control">
    </div>
</div>
