<div class="row form-group">
    <div class="col-12 col-md-12">
        <span class="form-text text-muted" style="font-size: 17px">Item Layout</span>
        <form id="item-layout-form">
        <table class="table table-striped"><!-- style="width: 100%;border: solid 1px grey;" -->
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_layout_top.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="item-layout-top">Text image pair, text below image</label>
                </td>
                <td style="width: 10%">
                    <input class="item-layout-radio-btn" type="radio" name="layout" id="item-layout-top" value="item_top" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_layout_bottom.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="item-layout-bottom">Text image (media) pair, text above the image</label>
                </td>
                <td style="width: 10%">
                    <input class="item-layout-radio-btn" type="radio" name="layout" id="item-layout-bottom" value="item_top" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_layout_only.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="item-layout-only">Image only, no text</label>
                </td>
                <td style="width: 10%">
                    <input class="item-layout-radio-btn" type="radio" name="layout" id="item-layout-only" value="item_only" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_layout_text_only.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="item-layout-text-only">Text only, no image</label>
                </td>
                <td style="width: 10%">
                    <input class="item-layout-radio-btn" type="radio" name="layout" id="item-layout-text-only" value="text_only" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_layout_right.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="item-layout-right">Text image* pair, image on the right</label>
                </td>
                <td style="width: 10%">
                    <input class="item-layout-left-right-radio-btn" type="radio" name="layout" id="item-layout-right" value="item_right" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_layout_left.png">
                </td>
                <td style="60%;">
                    <label class="btn btn-default" for="item-layout-left">Text image pair, image on the left</label>
                </td>
                <td style="width: 10%">
                    <input class="item-layout-left-right-radio-btn" type="radio" name="layout" id="item-layout-left" value="item_left" />
                </td>
            </tr>
        </table>
        </form>
        <form>
        <table id="item-media-width" class="table table-striped" style="display: none">
            <tr><td style="width: 100%"><span class="form-text text-muted" style="font-size: 17px">*<small>Please select a Media width</small></span></td></tr>
            <tr>
                <td style="width: 30%;padding: 5px;">
                    <img src="../images/item_layout_half.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="item-layout-half">Image width is one half of the exhibit item </label>
                </td>
                <td style="width: 10%">
                    <input type="radio" name="layout" id="item-layout-half" value="half" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px;">
                    <img src="../images/item_layout_third.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="item-layout-third">Image width is one third of the exhibit item </label>
                </td>
                <td style="width: 10%">
                    <input type="radio" name="layout" id="item-layout-third" value="third" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px;">
                    <img src="../images/item_layout_quarter.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="item-layout-quarter">Image width is one quarter of the exhibit item </label>
                </td>
                <td style="width: 10%">
                    <input type="radio" name="layout" id="item-layout-quarter" value="quarter" />
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
<script>

    document.querySelectorAll('.item-layout-left-right-radio-btn').forEach((radio_input) => {
        radio_input.addEventListener('click', () => {
            document.querySelector('#item-media-width').style.display = 'block';
        });
    });

    document.querySelectorAll('.item-layout-radio-btn').forEach((radio_input) => {
        radio_input.addEventListener('click', () => {
            document.querySelector('#item-media-width').style.display = 'none';
        });
    });

</script>