<div class="row form-group">
    <div class="col-12 col-md-12">
        <span class="form-text text-muted" style="font-size: 17px">Item Template</span>
        <table class="table table-striped"><!-- style="width: 100%;border: solid 1px grey;" -->
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_template_row.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="item-template-row">Item is fullwidth</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" name="template" id="item-template-row" value="row" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_template_grid.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="item-template-grid">Item is in a grid</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" name="template" id="item-template-grid" value="grid" />
                </td>
            </tr>
            <tr>
                <td style="width: 30%;padding: 5px">
                    <img src="../images/item_template_vertical_timeline.png">
                </td>
                <td style="60%">
                    <label class="btn btn-default" for="item-template-vertical-timeline">Item is on a vertical timeline</label>
                </td>
                <td style="width: 10%">
                    <input type="radio" name="template" id="item-template-vertical-timeline" value="vertical_timeline" />
                </td>
            </tr>
        </table>
    </div>
</div>