<p>
    <span class="form-text text-muted" style="font-size: 17px">Apply Custom Styles to Item</span>
</p>
<div class="input-group">
    <div class="input-group-btn">
        <input title="Color Picker" class="color-picker btn btn-default" type="color"
               id="item-background-color-picker" value="#ffffff">
    </div>
    <input type="text" id="item-background-color" name="item_background_color"
           placeholder="Item Background Color" class="form-control">

</div>
<div class="input-group">
    <div class="input-group-btn">
        <input title="Color Picker" class="color-picker btn btn-default" type="color" id="item-font-color-picker"
               value="#ffffff">
    </div>
    <input type="text" id="item-font-color" name="item_font_color"
           placeholder="Item Font Color" class="form-control">
</div>
<div class="row form-group">
    <div class="col-4 col-md-4">
        <div class="input-group">
            <input type="number" id="item-width" name="width"
                   placeholder="Item Width" class="form-control">&nbsp;&nbsp;
            <div class="input-group-btn">
                <i class="fa fa-percent"></i>
            </div>
        </div>
    </div>
</div>
<div class="input-group">
    <select name="item_font_family" id="item-font-family"
            class="form-control-lg form-control text-muted">
        <option value="0">Item Font Family</option>
        <option value="1">Helvetica</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
    </select>
</div>
<div class="input-group">
    <select name="item_font_size" id="item-font-size"
            class="form-control-lg form-control text-muted">
        <option value="0">Item Font Size</option>
        <option value="1">8px</option>
        <option value="2">10px</option>
        <option value="3">12px</option>
        <option value="3">14px</option>
    </select>
</div>
<div class="input-group">
    <select name="item_text_align" id="item-text-align"
            class="form-control-lg form-control text-muted">
        <option value="0">Item Text Align</option>
        <option value="center">Center</option>
        <option value="right">Right</option>
        <option value="left">Left</option>
        <option value="justify">Justify</option>
    </select>
</div>
<br>
<div id="item-grid-bg-color" style="display: none">
    <p>
        <span class="form-text text-muted" style="font-size: 17px">Apply Custom Style to Grid Item</span>
    </p>
    <div class="input-group">
        <div class="input-group-btn">
            <input title="Color Picker" class="color-picker btn btn-default" type="color"
                   id="item-grid-background-color-picker" value="#ffffff">
        </div>
        <input type="text" id="item-grid-background-color" name="item_grid_background_color"
               placeholder="Item Grid Background Color" class="form-control">

    </div>
</div>
<br>
<script>
    document.querySelector('#item-background-color-picker').addEventListener('input', () => {
        if (document.querySelector('#item-background-color')) {
            document.querySelector('#item-background-color').value = document.querySelector('#item-background-color-picker').value;
        }
    });

    document.querySelector('#item-font-color-picker').addEventListener('input', () => {
        if (document.querySelector('#item-font-color')) {
            document.querySelector('#item-font-color').value = document.querySelector('#item-font-color-picker').value;
        }
    });

    document.querySelector('#item-grid-background-color-picker').addEventListener('input', () => {
        if (document.querySelector('#item-grid-background-color')) {
            document.querySelector('#item-grid-background-color').value = document.querySelector('#item-grid-background-color-picker').value;
        }
    });

</script>